*{
  --Searchsize : 10vh;
}
body {
  background-color: #c7d5e0;
  color: #171a21;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
.main {
  margin: 1vw;
  height: 85vh;  
}
#summary{
  display: none;
  width: inherit;
  max-height: 40%;
}
.charts {
  width: inherit;
}
.sub-charts {
  display: none;
}

.search {
  width: 50%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 4px solid #66c0f4;
  border-right: none;
  padding: 5px;
  height: 2vw;
  border-radius: 6px 0 0 6px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #66c0f4;
}

.searchButton {
  width: 3vw;
  border: 1px solid #66c0f4;
  background: #66c0f4;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  min-width: 30px;
}
/* list-options-search {
  position: relative;
} */

/*Resize the wrap to see the search bar change!*/
.wrap{
  background-color: #171a21;
  width: inherit;
  /* position: relative; */
  height: 10vh;
    /* height: 3vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
}

[error-tooltip]:before {
  /* needed - do not touch */
  content: attr(error-tooltip);
  top: 19vh;
  width: 46vw;
  position: absolute;    
  /* customizable */
  transition: all 0.5s ease;
  padding: 1vw 1vh;
  color: #333;
  border-radius: 10px;
  
  /* customizable */
  background: crimson;
  margin-top: -8vh;
  margin-left: 0;    
}
#page_header{
  overflow: hidden;
  border-bottom: none;
  margin: 0px;
}
#image {
  padding: 2vw;
  width: 40%;
  vertical-align:top;
  display: inline-block;
}
#text {
  padding: 2vw;
  width: 70%;
  vertical-align:top;
  display: inline-block;
}
#banner {
  border-radius: 2px;
  max-width:100%;
  max-height:100%;
}
.app_tag {
  padding: 0 7px;
  color: #c7d5e0;
  background-color:#2a475e;
  margin-right: 2px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 3px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bar_chart {
  width: auto;
  height: 30vh;
}
.pie_chart {
  width : auto;
  height : 20vh;
}
#svg_bar_chart_users{
  height: 50vh;
}
#svg_stacked_bar_chart{

  height: 40vh;
}
[hover-tooltip]:hover{
  
}
#stacked-tooltip {
  position: absolute;
}
.bar_chart_bar{
  fill : blue
}