*{
  --Searchsize : 10vh;
}


.bar_playing_time{
  width : 50vw;
  height : 50vh;
}

.bar_apply_margin{
  --margin_x : 1vw;
  --margin_y : 1vh;
  transform : translate(var(--margin_x),var(--margin_y));
}
#page_header{
  height : 10vh;
  width : 100vw;
  text-align: left;   
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-50%, -50%);
}

#page_header{
  height : 10vh;
  width : 100vw;
  text-align: center;   
}


#game_input_wrapper{
  width : 100vw;
  height : 5vh;
}

#game_input{
  width: 50%;
  margin: auto;
}

.bar_playing_time{
  width : 20vw;
  height : 30vh;
}

.bar_apply_margin{
  --margin_x : 1vw;
  --margin_y : 1vh;
  transform : translate(var(--margin_x),var(--margin_y));
}

#svg_stacked_bar_chart{

  height: 40vh;
}

/*Tooltip stolen https://stackoverflow.com/questions/7117073/add-a-tooltip-to-a-div cab be reused for hover over element*/
/* Tooltip text */

[error-tooltip]:before {
  /* needed - do not touch */
  content: attr(error-tooltip);
  position: absolute;    
  /* customizable */
  transition: all 0.15s ease;
  padding: 1vw 1vh;
  color: #333;
  border-radius: 10px;
  
  /* customizable */
  background: crimson;
  margin-top: var(--Searchsize);
  margin-left: 0;    
}

[hover-tooltip]:hover{
  filter : brightness(0.5); 
}